@import url(./fonts.css);
@import url(./variables.css);
@import url(./mediaQuery.css);

/* 1ª Observação: Grid, Flexbox ou Flex, é uma série de comando para Responsividade no CSS, pois ajusta o Layout da página. */
/* 2ª Observação: padding: Margem interna - margem: Margem externa - border: Linha de Divisão.*/
/* 3ª Observação: 1rem == 16pixels. */

/* Formatação CSS realizada por TAGs. */
body {
    /* margem interna */
    padding: 0px;
    /* margem externa */
    margin: 0px;
    border: 0px;
    /* cor de fundo */
    /* background-color: var(--cor-laranja-vermelho); */
    font-family: var(--font-alerta);
}

label {
    font-family: var(--font-texto);
    font-size: 1.4rem;
}

/* Formatação CSS realizada por IDs (#). */
#topo {
    background-color: var(--cor-cinza-medio);
    color: var(--cor-branco);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 26px 14px;
}

#container{
    text-align: center;
    font-family: var(--font-titulo);
}

#end{
    background-color: var(--cor-cinza-dark);
    color: var(--cor-branco);
}

/* Formatação CSS realizada por Class (.). */
.topo {
    font-size: 26px;
    font-family: var(--font-titulo);
    padding-right: 24px;
    display: flex;
    justify-content: end;
}

.imgLogotipo {
    width: 225px;
}

.itemMenu {
    list-style: none;

}

.linkMenu {
    text-decoration: none;
    color: var(--cor-branco);
}

.linkMenu:hover {
    color: var(--cor-laranja-vermelho);
}

.boxImgUser, .boxBtnAcessar{
    display: flex;
    justify-content: center;
}

.boxForm {
    margin: 3rem;
}


.formCadastro{
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    background-color: var(--cor-cinza-light);
    display: grid;
    justify-content: center;
    align-content: center;
}

.campLogin, .campCadastro {
    width: 100%;
    height: 35px;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    outline: none;
    border: none;
}

.btnLogin {
    width: 145px;
    height: 42px;
    font-size: 18.5px;
    outline: none;
    border: none;
    border-radius: 2.6px;
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    cursor: pointer;
}

.btnLogin:hover {
    background-color: var(--cor-azul-dark);
    width: 152px;
    height: 43px;
}

.btnCadastrar {
    width: 145px;
    height: 42px;
    font-size: 18.5px;
    outline: none;
    border: none;
    border-radius: 2.6px;
    background-color: var(--cor-verde);
    color: var(--cor-branco);
    cursor: pointer;
}

.btnCadastrar:hover {
    background-color: var(-cor-verde-dark);
    width: 147px;
    height: 44px;
}

.end{
    padding: 3.4rem 0rem;
    text-align: center;
    font-family: var(--font-texto);
    font-size: 18px;
}

.imgLogotipoEnd{
    width: 80px;
    height: 80px;
    border-radius: 6px;
}